<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static "bootstrap-5.2.3/css/bootstrap.css" %}" />
  <link rel="stylesheet" href="{% static "bootstrap-5.2.3/css/style.css" %}" />
  <title>Сайт рецептов</title>
</head>

<body style="background-color: #F2F2F2">
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark padding">
      <div class="container-xxl">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="{% url 'index' %}">Книга рецептов</a>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'recipes' %}">Рецепты</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Поиск блюд" aria-label="Search">
            <a href="#" class="btn btn-light">Поиск</a>
          </form>
        </div>
      </div>
    </nav>
  </header>
  <section>
    {% block content %}
    {% endblock %}
  </section>
    <div class="container-xxl">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top bg-dark">
        <p class="col-md-4 mb-0 text-muted">© 2023 Company, Inc</p>
        <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
      </footer>
    </div>
  <script src="{% static "bootstrap-5.2.3/js/bootstrap.js" %}"></script>
</body>

</html>