{% extends "layout/basic.html" %}
{% block content %}
<div class="container-xxl">
    <div class="card mb-3 text-bg-dark">
        <img src="{{ recipedish.image.url }}" class="card-img-top" alt="{{ recipedish.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ recipedish.name }}</h5>
          <p class="card-text">{{ recipedish.description }}</p>
          <p class="card-text">{{ recipedish.ingredients }}</p>
          <p class="card-text">{{ recipedish.recipe }}</p>
          <p class="card-text"><small class="text-muted">Опубликовал {{ recipedish.auhtor }} {{ recipedish.published|date:"d.m.Y H:i:s"}}</small></p>
        </div>
      </div>
  </div>
  {% endblock %}