{% extends "layout/basic.html" %}
{% block content %}
<div class="container-xxl">
    <div class="card mb-3 text-bg-dark">
        <img src="{{ recipe_dish.image.url }}" class="card-img-top" alt="{{ recipe_dish.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ recipe_dish.name }}</h5>
          <p class="card-text">{{ recipe_dish.description }}</p>
          <p class="card-text">{{ recipe_dish.ingredients }}</p>
          <p class="card-text">{{ recipe_dish.recipe }}</p>
          <p class="card-text"><small class="text-muted">Опубликовал {{ recipe_dish.auhtor }} {{ recipe_dish.published|date:"d.m.Y H:i:s"}}</small></p>
        </div>
      </div>
  </div>
  {% endblock %}